#para1 {
 font-family: 'Hubballi', serif;
 text-align: center;
 
 
}

#para2 {
    font-family: 'Hubballi', serif;
    text-align: center;
    
    
}
#para3 {
    font-family: 'Hubballi', serif;
    text-align: center;
    
    
}
#para4 {
    font-family: 'Hubballi', serif;
    text-align: center;
    
    
}

#a1 {
    border-style:solid;
    border-color:darkturquoise;
}
